*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu",sans-serif;
}

body{
    background: url(bg.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    /* VH(Viewport Height) : 뷰포트 높이의 1% 길이와 동일합니다.*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*  justify-conten는 플렉스 요소의 수평 방향 정렬 방식을 설정합니다. */
}

.login-form{
    width: calc(100% - 20px);
    max-width: 500px;
    background-color: #fff;
    padding: 50px 40px;
}

.login-form h1{
    text-align: center;
    margin: 48px 0px;
    font-size: 36px;
    color: #111;
}

.textb{
    margin-bottom: 12px;
    position: relative;
}

.textb input{
    width: 100%;
    height: 70px;
    border: none;
    background-color: #ededed;
    border-radius: 4px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 60px 0 10px;
}

.placeholder{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    line-height: 70px;
    top: 0;
    left: 20px;
    color: #9d9d9d;
    user-select: none;
    /* user-select 속성은 사용자가 텍스트를 선택할 수 있는지 지정합니다. */
    pointer-events: none;
    /* pointer-events CSS 속성은 그래픽 요소가 어떤 상황에서 포인터 이벤트의 대상이 될 수 있는지 지정합니다.*/
}

.show-password{
    position: absolute;
    right: 20px;
    line-height: 70px;
    /* line-height 텍스트 라인의 높이 지정 */
    color: #9d9d9d;
    font-size: 22px;
    cursor: pointer;
}

.textb input:focus ~ .placeholder,
.textb input:valid ~ .placeholder{
    left: 10px;
    top: -16px;
    /*focus 선택자는 현재 포커스된 요소에 대해 스타일을 지정하게 된다. 
    valid selector는 요소의 설정에 따라 유효성을 검사하는 값을 가진 폼 요소를 선택한다. 제한이 있는 양식 요소에만 사용할 수 있다.
    invalid selector를 사용하여 요소의 설정에 따라 유효하지 않은 값을 가진 폼 요소를 선택하십시오.
    Element1~Element2 Selector는 Element1이 선행하는 Element2의 발생과 일치한다.
    두 요소 모두 동일한 상위 요소를 가져야 하지만 요소2가 요소1 바로 앞에 있을 필요는 없다.
    */
}

.checkbox{
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 20px 0;
}

.checkbox input{
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    background-color: #ededed;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox .fa-check{
    position: absolute;
    color: #fff;
    font-size: 14px;
    width: 24px;
    text-align: center;
    user-select: none;
    pointer-events: none;
    opacity: 0;
}

.checkbox input:checked{
    background-color: #bc252a;
}

.checkbox input:checked + .fa-check{
    opacity: 1;
}

.btn{
    display:block;
    width: 100px;
    height: 100px;
    margin: 40px auto;
    background-color: #bc252a;
    color: #fff;
    font-size: 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s linear;
}

.btn:hover{
    opacity: .85;
    /* 투명도라고 생각하면 됨*/
}

.login-form a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #555;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 8px;
    transition: .2s linear;
}

.login-form a:hover{
    color: #111;
}

.btn:disabled{
    background-color: transparent;
    /* transparent는 배경색이 없음을 뜻함*/
    color: #ddd;
    border: 2px solid;
}
