body{
    margin: 0;
    padding: 0;
    background: #34495e;
}
.box{
    position: absolute;
    /* 태그들의 위치를 결정하는 css, absolute는 static 속성을 가지고 있지 않은 부모를 기준,
    만약 부모 중에 포지션이 relative, absolute, fixed인 태그가 없다면 가장 위의 태그(body)가 기준이 됩니다.
    그래서 body태그의 가장 오른쪽에 box가 붙게 된다.*/
    top: 40px;
    right: 40px;
    padding: 5px;
    /* 위에서 40px떨어져 있고, 오른쪽에서 40px떨어져 있고, padding으로 5px를 준다. */
    background: #f1f1f1;
}
.box a{
    width:40px;
    height: 40px;
    float: left;
    /* float 속성은 정렬을 어떻게 할지 나타내는 것임 */
    text-indent: -9999px;
    /* 
    text-indent속성은 들여쓰기와 내어쓰기를 나타내는 속성이다. 양수면 들여쓰기, 음수면 내어쓰기가 된다.
    text-indent로 텍스트를 날리는 방법인 Phark Method가 가장 범용적으로 쓰이는 편인데, 
    text-indent: -9999px와 같은 매우 큰 수치를 주어 화면 밖으로 밀어내버리는 원리이다.
    그래서 텍스트 출력이 되지 않는 것이다.
    */
    margin: 5px;
    cursor: pointer;
}
#red{
    background: #e74c3c;
}
#blue{
    background: #3498db;
}
#green{
    background: #2ecc71;
}
#gray{
    background: #34495e;
}
#yellow{
    background: #f1c40f;
}
#orange{
    background: #e67e22;
}
